
@{
    ViewBag.Title = "Index";
}

<h2>HomePage</h2>

@*@if (Request.Cookies["user"] == null)
{
    <p>@Html.ActionLink("Login please!", "Index", "Author")</p>
}
else
{
    <h2>Welcome, @Request.Cookies["user"].Value</h2>
}*@

@if (Session["user"] == null)
{
    <p>@Html.ActionLink("Login please!", "Index", "Author")</p>
}
else
{
    <h2>Welcome, @Session["user"] </h2>
    <p>@Html.ActionLink("Logout","Log","Author")</p>
}
@TempData["user"]