@model List<StudentEF.Models.Database.Person>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    <input type="button" class="btn btn-info" value="Scholarships!" onclick="location.href='@Url.Action("ScholarshipList", "Student")'" />
    <input type="button" class="btn btn-info" value="Discounts!" onclick="location.href='@Url.Action("DiscountList", "Student")'" />
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Cgpa</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var p in Model)
        {
    <tr>
        <th> <a href="/Student/Edit/@p.Id">@p.Id</a></th>
        <th>@p.Name</th>
        <th>@p.Dob</th>
        <th>@p.Cgpa</th>

        <td><a class="btn btn-info" href="/Student/Edit/@p.Id">Edit</a></td>
        <td><a class="btn btn-danger" href="/Student/Delete/@p.Id">Delete</a></td>
    </tr>
        }

    </table>
</div>